---
import BaseLayout from "../layouts/BaseLayout.astro";
import Card from "../components/Card.svelte";
import { employees } from "../data/employees";
---
<BaseLayout headerText="Our Team">
	<section class="team-grid">
		{employees.map((employee) =>
			<Card client:visible item={employee} modalWidth={30} modalHeight={20} />
		)}
	</section>
</BaseLayout>

<style>
	.team-grid {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
		gap: 2rem;
		text-align: left;
	}
	.team-list__heading {
		text-align: center;
	}
</style>
